src/env/config.yml
.config.yml
config.yml
.env
*.env
src/env/config.yml
config.yml
*.env
.env
src/results/
src/env/config.yml
config.yml
.env
*.env
# local large/derived data
/src/data/
/src/results/
/cache/
/.idea/
